.card-content {
  display: inline-block;
  width: 100%;
  padding: 20px 20px 19px 20px;
  background: $main_content_area_color;
  border: 1px solid $divider_color;
}

.card-content figure {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;;
  background-size: cover;
  border-radius: 50%;
}

.card-content h2, .card-content i {
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
  overflow: auto;
}

.card-content i {
  float: right;
}