/* ERRORS SERVER */
.error-content {
  display: block;
  width: 100%;
  text-align: center;
}

.error-icon {
  display: block;
  width: 100px;
  height: 100px;
  margin: 100px auto 0 auto;
  text-align: center;
  line-height: 100px;
  font-size: 46px;
}

.error-message {
  display: block;
  width: 80%;
  margin: 10px 10%;
  font-size: 20px;
  font-weight: 300;
}