# Created by .ignore support plugin (hsz.mobi)
.idea
bower_components
build
node_modules
project/.idea
project/public/*.jpg
project/public/*.png
project/public/*.json
project/public/*.gif
project/public/*.woff
project/public/*.woff2
project/public/*.eot
project/public/*.svg
project/public/*.ttf
project/public/*.js
project/public/*.css
project/public/*.map