$main_color: #03A9F4;
$dark_main_color: #0288D1;
$main_content_area_color: #FFF;
$secondary_content_area_color: #D8D8D8;
$main_text_color: #212121;
$secondary_text_color: #727272;
$opposite_text_color: #FFF;
$divider_color: #F0F0F0;
$shadow_bottom: 0 0 3px #212121;

/* FONTS PATH */

$roboto_font_path: '../font/roboto/';
$fontastic_font_path: '../font/fontastic/';