<div class="snap-drawers">
    <div class="snap-drawer snap-drawer-left">
        <ul class="menu-list">
            <li>
                <p ng-click="changePage('users')">Users</p>
            </li>
        </ul>
    </div>
    <div id="snapMenu" class="snap-content">
        <header>
            <i ng-click="toggleMenu()" class="icon-header-left icon icon-navicon-round"></i>
            <p ng-bind="pageTitle" class="text-header"></p>
        </header>
        <ui-view></ui-view>
    </div>
</div>